<h3>
    <i class="fas fa-people-arrows"></i>ExpoShare</h3>

              <div class="section">
                  <h2 class="lead">Read the world's experiences
                      </h2>
                       <h2 class="lead">
                        Share yours with all  </h2>
              </div>

              <div class="section">
                <p class="lead">By just using your Google account</p>
            </div>
              <div class="divider"></div>
              
              <div class="section">
                  <a href="/auth/google" class="btn red darken-1">
                  
                  <i class="fab fa-google left"></i> Log In With Google
                  </a>
              </div> 